.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.main {
    max-width: 720px;
    margin: 0 auto;
    padding: 80px 10px;
}
