.todoeditor {
    display: flex;
    gap: 10px;
}
.todoeditor > input {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}
.todoeditor > input:focus {
    outline: none;
}
.todoeditor button {
    background-color: plum;
    border-radius: 5px;
    color: white;
    border: none;
    width: 80px;
    cursor: pointer;
}
